@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;1,900&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  background-color: #ffffff;
  color: #333333;
}

h1 {
  font-size: 24px;
  font-weight: 900;
  font-style: italic;
}
